registry=https://pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/registry/ 

always-auth=true

; begin auth token
//birchman-madrid.pkgs.visualstudio.com/_packaging/Solimat.Packages/npm/registry/:username=luismiguel.fernandez@viseo.com
//birchman-madrid.pkgs.visualstudio.com/_packaging/Solimat.Packages/npm/registry/:_password=MmZudW5oa3lrajQ1cXo2ejM0c290amNsMmlvejM1N25waGx0YjZ3aXV0ZndiaGZ3YnFwcQ==
//birchman-madrid.pkgs.visualstudio.com/_packaging/Solimat.Packages/npm/registry/:email=luismiguel.fernandez@viseo.com
//birchman-madrid.pkgs.visualstudio.com/_packaging/Solimat.Packages/npm/:username=luismiguel.fernandez@viseo.com
//birchman-madrid.pkgs.visualstudio.com/_packaging/Solimat.Packages/npm/:_password=MmZudW5oa3lrajQ1cXo2ejM0c290amNsMmlvejM1N25waGx0YjZ3aXV0ZndiaGZ3YnFwcQ==
//birchman-madrid.pkgs.visualstudio.com/_packaging/Solimat.Packages/npm/:email=luismiguel.fernandez@viseo.com
; end auth token