registry=https://pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/registry/ 

always-auth=true

; begin auth token
//pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/registry/:username=luismiguelfernandez0391
//pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/registry/:_password=Mmt4cGQyc3JzaHd0YXRpNXF5bm5sZ25xdmJ3c2t5cG5qYW9zdjRkNXdvY3pyZzVsbXlmcQ==
//pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/registry/:email=luismiguel.fernandez@viseo.com
//pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/:username=luismiguelfernandez0391
//pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/:_password=Mmt4cGQyc3JzaHd0YXRpNXF5bm5sZ25xdmJ3c2t5cG5qYW9zdjRkNXdvY3pyZzVsbXlmcQ==
//pkgs.dev.azure.com/luismiguelfernandez0391/_packaging/luismiguelfernandez0391/npm/:email=luismiguel.fernandez@viseo.com
; end auth token