@import 'src/styles/common/variables.scss';
.login {

}
.regular-form {
  label {
    position: relative;
    display: block;
    border: 1px solid black;
    &+label {
      margin-top: 32px;
    }
    .label-text {
      position: absolute;
      top: -16px; left: 8px;
      display: table-caption;
      padding: 0px 8px;
      background-color: white;
    }
    input {
      width: 100%;
      height: 32px;
      padding-left: 24px;
    }
  }
  .error__message {
    margin: 0px 0px 14px;
    font-size: 14px;
    color: rgb(255, 80, 83);
    &+.btns-container {
      margin-top: 0px;
    }
  }
  .btns-container {
    margin-top: 32px;
  }
}